.btn {
    width: 10%;
}

.rgbGen {
    width: 10%;
}

.sig{
    position: absolute;
    bottom: 0%;
    text-decoration: underline;
    color: black;
}


body {
    background-color: blanchedalmond;
}